@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
header {
  display: flex;
  flex-direction: column; }
  header .navbar-brand {
    font-family: "Pattaya", sans-serif;
    font-size: 50px;
    margin-left: 2rem; }
    header .navbar-brandhover {
      color: #ff0a54; }
  header #navbarNavDropdown {
    justify-content: flex-end; }
  header #logo h1 {
    font-family: "Pattaya", sans-serif;
    text-decoration: none;
    font-size: 40px;
    list-style: none;
    color: #000 !important; }

.footer {
  background: #000;
  padding: 30px 0px;
  font-family: 'Play', sans-serif;
  text-align: center; }

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em; }

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s; }

.footer .row a:hover {
  color: #fff; }

.footer .row ul {
  width: 100%; }

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px; }

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%; }

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%; }
  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left; }
  .footer .row a i {
    margin: 0% 3%; } }

/*.cardBox {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      
      
    }

.gridCards {
  width: 100%;
  height: 100vh;
}*/
label {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  top: 50%;
  left: 50%;
  width: 280px;
  height: 350px;
  perspective: 1000px;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%);
  cursor: pointer; }

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  z-index: 1;
  border-radius: 20px; }

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #000;
  backface-visibility: hidden;
  border-radius: 20px; }

.back {
  transform: rotateX(180deg);
  color: #000;
  background: #ffdd4a; }

label:hover .flip-card {
  transform: rotateX(2deg);
  box-shadow: 0 20px 20px grey; }

input {
  display: none; }

:checked + .flip-card {
  transform: rotateX(180deg); }

label:hover :checked + .flip-card {
  transform: rotateX(175deg);
  box-shadow: 0 20px 20px grey; }

.front img {
  width: 110px;
  height: 110px;
  margin: 30px 0 20px 0;
  border-radius: 50%; }

.front h1 {
  font-size: 30px;
  color: #fff; }

.click {
  color: #fff;
  font-size: bold; }

.write_link {
  list-style: none;
  color: #000;
  text-decoration: none; }

.txt {
  margin: 5px;
  justify-content: center;
  text-align: justify;
  font-size: 15px;
  padding: 1rem; }

header {
  display: flex;
  flex-direction: column; }
  header .navbar-brand {
    font-family: "Pattaya", sans-serif;
    font-size: 50px;
    margin-left: 2rem; }
    header .navbar-brandhover {
      color: #ff0a54; }
  header #navbarNavDropdown {
    justify-content: flex-end; }
  header #logo h1 {
    font-family: "Pattaya", sans-serif;
    text-decoration: none;
    font-size: 40px;
    list-style: none;
    color: #000 !important; }

.footer {
  background: #000;
  padding: 30px 0px;
  font-family: 'Play', sans-serif;
  text-align: center; }

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em; }

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s; }

.footer .row a:hover {
  color: #fff; }

.footer .row ul {
  width: 100%; }

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px; }

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%; }

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%; }
  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left; }
  .footer .row a i {
    margin: 0% 3%; } }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

#home {
  background: url("../img_bank/vintage-2608934.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100%; }

.home-wrap {
  padding-top: 140px; }

.home-header {
  font-family: "Montserrat", sans-serif;
  font-size: 3.75rem;
  color: #fff;
  text-shadow: 1px 1px 2px black; }

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  color: #fff;
  text-shadow: 1px 1px 2px black; }

.home-line {
  border: 0;
  height: 3px;
  width: 90%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #ff9900, rgba(0, 0, 0, 0)); }

.btn-default {
  margin: 10px;
  width: 100px;
  border-radius: 5px;
  background-color: #ffdd4a;
  color: #fff;
  border: none;
  font-size: 25px; }

.btn-default:hover {
  background-color: #fff;
  color: #ffdd4a; }

#about {
  background-color: #ffdd4a;
  color: #fff;
  padding-bottom: 80px; }

.about-wrap {
  width: 60%;
  margin: auto;
  margin-top: 95px; }

h1 {
  font-family: "Montserrat", sans-serif;
  text-align: center; }

.line {
  margin-top: 30px;
  width: 100%;
  height: 100vh;
  background-color: #ffdd4a;
  border: none; }

.about-text {
  font-size: 23px;
  font-family: "Montserrat", sans-serif;
  text-align: justify; }

.camp-link {
  color: #fff; }

.skills-list li {
  font-size: 18px;
  list-style-position: inside;
  text-align: justify;
  margin-left: 40px; }

#portfolio {
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: white; }

.portfolio-header {
  color: #000; }

.portfolio-text-cards {
  margin: 10%; }

#contact {
  background-color: #EEDFCC;
  padding-top: 10px;
  padding-bottom: 65px; }

.contact-header {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-size: 40px; }

.contact-line {
  background-color: orange;
  border: none;
  height: 2px;
  width: 40%; }

.contact-wrap {
  margin-top: 60px; }

form {
  margin-top: 50px; }

input {
  width: 40%;
  height: 30px;
  margin: 10px; }

#message {
  width: 40%;
  height: 200px;
  margin-top: 10px; }

#submit-button {
  width: 10%;
  height: 40px; }

* {
  cursor: url("https://puu.sh/j1a8v/067742b89d.ico"), default; }

.errorPage {
  background: white;
  text-align: center;
  font-family: 'Droid Sans', sans-serif;
  width: 100%;
  height: 100vh; }

h1 {
  margin-top: 30px;
  color: black;
  text-shadow: 0px 2px 0px #969696; }

#err-icon {
  font-size: 80pt;
  color: black;
  margin-top: 150px;
  text-shadow: 0px 3px 0px #969696;
  --webkit-transition: 0.5s; }

#err-icon:hover {
  --webkit-transform: scale(1.1);
  color: #e74c3c;
  text-shadow: 0px 3px 0px #c0392b; }

header {
  display: flex;
  flex-direction: column; }
  header .navbar-brand {
    font-family: "Pattaya", sans-serif;
    font-size: 50px;
    margin-left: 2rem; }
    header .navbar-brandhover {
      color: #ff0a54; }
  header #navbarNavDropdown {
    justify-content: flex-end; }
  header #logo h1 {
    font-family: "Pattaya", sans-serif;
    text-decoration: none;
    font-size: 40px;
    list-style: none;
    color: #000 !important; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.contentBody {
  background: #212529; }

#logo-web {
  font-family: "Pattaya", sans-serif;
  color: black;
  font-size: 3.5rem; }

.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff; }

.page-title {
  width: 100%;
  height: auto; }

.profileCards {
  margin: 5%; }

.footer {
  background: #000;
  padding: 30px 0px;
  font-family: 'Play', sans-serif;
  text-align: center; }

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em; }

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s; }

.footer .row a:hover {
  color: #fff; }

.footer .row ul {
  width: 100%; }

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px; }

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%; }

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%; }
  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left; }
  .footer .row a i {
    margin: 0% 3%; } }

.footer {
  background: #000;
  padding: 30px 0px;
  font-family: 'Play', sans-serif;
  text-align: center; }

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em; }

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s; }

.footer .row a:hover {
  color: #fff; }

.footer .row ul {
  width: 100%; }

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px; }

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%; }

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%; }
  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left; }
  .footer .row a i {
    margin: 0% 3%; } }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 16px;
  font-family: "Montserrat";
  scroll-behavior: smooth; }

header {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem; }
  header .center__title {
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif; }
    header .center__title .navbar-brand {
      font-family: 'Pattaya', sans-serif;
      font-size: 10rem;
      color: white; }

.scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid #ffdd4a;
  position: absolute;
  left: 50%;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer; }

.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid #ffdd4a;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite; }

.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s; }

@keyframes scroll-down {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    opacity: 1; }
  100% {
    top: 90%;
    opacity: 0; } }

#title-1 {
  color: black;
  font-family: 'Montserrat', sans-serif; }

#title-2 {
  color: white;
  font-family: 'Montserrat', sans-serif; }

.leftside, .rightside {
  height: 100vh;
  width: 100%; }

@media screen and (min-widht: 768px) {
  .leftside, .rightside {
    height: 100vh; } }

.leftside {
  background-color: #ffdd4a; }

.rightside {
  background-color: black; }

.link-section-1,
.link-section-2 {
  text-decoration: none; }

.link-section-1 {
  color: black; }

.link-section-2 {
  color: white; }

.textContainer {
  width: 100%;
  height: 100vh;
  background-image: url("../img_bank/woman-792162.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: currentColor;
  background-blend-mode: luminosity; }

#text-inicio {
  padding: 25%;
  color: white;
  text-shadow: 1px 1px 2px black;
  justify-content: center;
  text-align: justify;
  font-weight: 600;
  font-size: 20px;
  background: transparent; }
