@import "variables";

header {

    display: flex;
    flex-direction: column;
 

    .navbar-brand {
        font-family: $font-logo;
        font-size: 50px;
        margin-left: 2rem;

        &hover {
          color: $red_cherry;
        }
        
      }
      
      #navbarNavDropdown {
        justify-content: flex-end;
      }
      
      #logo h1 {
      
          font-family: $font-logo;
          text-decoration: none;
          font-size: 40px;
          list-style: none;
          color: $black !important;
      }


}