
$indigo: #094074;
$queen_blue: #3c6997;
$sky_blue: #5adbff;
$mustard:#ffdd4a;
$orange:#fe9000;
$shadow:grey;
$white: #fff;
$black:#000;
$green:#ADDCA5;
$red_cherry: #ff0a54;

$font-logo: 'Pattaya', sans-serif;
$font-stack: 'Montserrat', sans-serif;